<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chetssholic.removebackgeround">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <category android:name="android.intent.category.OPENABLE" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".activity.RemoveBac"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo_ro"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo_ro"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoveBAckgeround"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SpiralActivty"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".activity.ExitActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.FitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PotraiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chetssholic.removebackgeround.cutout.CutOutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DripActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FilterActivity"
            android:exported="false"
            android:label="@string/title_activity_filter_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.RemoveBAckground"
            android:exported="false"
            android:screenOrientation="portrait" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_ex" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/add_id" />

    </application>

</manifest>